version: '3'

volumes:
  nextcloud_www:

services:

  # Nextcloud
  app:
    build:
      context:  ./app
      args:
        - http_proxy=${http_proxy}
        - https_proxy=${https_proxy}
    container_name: nextcloud_app
    restart: unless-stopped
    environment:
      - DEBUG_LEVEL=DEBUG
      - OPCACHE_ENABLE=1                            # Requirements from Nextcloud Administration Manual
      - OPCACHE_ENABLE_CLI=1                        # Requirements from Nextcloud Administration Manual
      - OPCACHE_INTERNED_STRINGS_BUFFER=8           # Requirements from Nextcloud Administration Manual
      - OPCACHE_MAX_ACCELERATED_FILES=10000         # Requirements from Nextcloud Administration Manual
      - OPCACHE_ENABLE_MEMORY_CONSUMPTION=128       # Requirements from Nextcloud Administration Manual
      - OPCACHE_SAVE_COMMENTS=1                     # Requirements from Nextcloud Administration Manual
      - OPCACHE_REVALIDATE_FREQ=1                   # Requirements from Nextcloud Administration Manual
      - PHP_FPM_PM=dynamic                          #
      - PHP_FPM_PM_MAX_CHILDREN=120                 # PHP-FPM tunning
      - PHP_FPM_PM_START_SERVER=12                  # https://docs.nextcloud.com/server/14/admin_manual/configuration_server/server_tuning.html
      - PHP_FPM_PM_MIN_SPARE_SERVERS=6              #
      - PHP_FPM_PM_MAX_SPARE_SERVERS=18             #
      - CORE_FILE_UPLOADS=1                         #
      - CORE_UPLOAD_TMP_DIR=/tmp/php/upload         #
      - CORE_UPLOAD_MAX_FILESIZE=10G                #
      - CORE_POST_MAX_SIZE=10G                      # More tunning
      - CORE_OUTPUT_BUFFERING=off                   # https://www.techandme.se/increase-max-file-size/
      - CORE_MAX_INPUT_TIME=7200                    #
      - CORE_MAX_EXECUTION_TIME=7200                #
      - CORE_MEMORY_LIMIT=1024M
      - SQLITE_DATABASE=sqlite.db
      - NEXTCLOUD_ADMIN_USER=admin                  # You can create the admin user here
      - NEXTCLOUD_ADMIN_PASSWORD=My@dminP@ssw0rd
    volumes:
      - nextcloud_www:/var/www
      - ./tmp/nextcloud:/nextcloud
      - ./tmp/log:/var/log

  # Nginx
  web:
    build:
      context: ./web
      args:
        - http_proxy=${http_proxy}
        - https_proxy=${https_proxy}
    container_name: nextcloud_web
    restart: unless-stopped
    environment:
      - DEBUG_LEVEL=DEBUG
      - PHP_FPM_ENABLE=true
      - PHP_FPM_HOST=app
    volumes:
      - nextcloud_www:/var/www:ro
      - ./tmp/log/nginx:/var/log
    ports:
        - 8001:80
    depends_on:
      - app
